/* Write your CSS here */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  background-size: cover;
  height: 100vh;
}

.span-element {
  color: #c20a72;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 700;
}

.main-heading {
  text-align: center;
  color: #2d3a35;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.description {
  text-align: center;
  color: #2d3a35;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}

.button-element {
  background-color: #007bff;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  height: 30px;
  font-size: 14px;
  font-family: 'Roboto';
  border-width: 0px;
  padding: 6px;
  border-radius: 5px;
}
